* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    /* background: url(../assets/img/Background.png) no-repeat; */
    background: #fff;
    background-size: cover;
    background-position: center;
}

/* Header */
header nav {
    padding: 0 50px;
    width: 100%;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .uppernav {
    background-color: black;
    color: white;
    height: 60px;
    cursor: pointer;
}

header .left > div + div {
    margin-left: 30px;
}

header .right > div {
    margin-left: 30px;
}

header .left > div:hover,
header .right > div:hover {
    color: #777;
    transition: all 0.5s;
}

header .uppernav span {
    margin-left: 5px;
}

header .navbar {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
    list-style: none;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    transition: all 0.3s ease 0s;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:hover > ul {
    display: initial;
}

header button {
    margin-left: 50px;
    padding: 20px 25px;
    background-color: #1bad4b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

header button:hover {
    background: #333;
    color: #fff;
}

header .logo img {
    width: 200px;
}
/* Header End */
