* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    /* background: url(../assets/img/Background.png) no-repeat; */
    background: #fff;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

/* Header */
header nav {
    padding: 0 50px;
    width: 100%;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Upper Navbar */
header .uppernav {
    background-color: black;
    color: white;
    height: 51px;
    cursor: pointer;
}

header .uppernav .location button {
    height: 51px;
    margin-left: 5px;
    padding: 10px 10px;
    background-color: #777;
    color: #000;
    border: none;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

header .uppernav .location button:hover {
    background-color: #fff;
    color: #000;
}

header .uppernav ul {
    list-style: none;
}

header .left > div + div {
    margin-left: 30px;
}

header .right > div {
    margin-left: 30px;
}

header .left > div:hover,
header .right > div:hover {
    color: #777;
    transition: all 0.5s;
}

header .uppernav span {
    margin-left: 5px;
}

@media screen and (max-width: 720px) {
    header .left > div,
    header .right > div {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    header .left > div,
    header .right > div,
    header .uppernav .location button {
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    header button {
        display: none;
    }
}
/* Upper Navbar End */

/* Second Navbar */
header .navbar {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

header .logo {
    margin-right: auto;
}

header .navbar ul {
    list-style: none;
    position: absolute;
}

header .navbar ul li {
    position: relative;
    float: left;
    list-style: none;
}

header .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: #333;
    display: block;
    transition: all 0.3s ease 0s;
}

header .navbar ul li a:hover {
    background: #015028;
    color: #fff;
}

header .navbar ul .menu {
    display: none;
    font-size: 30px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:hover > ul {
    display: initial;
}

header button {
    margin-left: 50px;
    padding: 18px 15px;
    background-color: #1bad4b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

header button:hover {
    background: #015028;
    color: #fff;
}

header .logo img {
    width: 25%;
}

@media screen and (max-width: 950px) {
    header .navbar ul .menu {
        display: block;
        margin-top: 30%;
    }

    header .navbar ul li {
        display: none;
    }

    header .navbar button {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header .navbar ul .menu {
        font-size: 24px;
    }
}
/* Second Navbar End */
/* Header End */

/* Header Text */
.header-text {
    margin-top: 130px;
    font-size: 30px;
    margin-left: 10%;
}

.header-text h1 {
    font-size: 48px;
    margin-top: 20px;
    color: #000;
}

.header-text button {
    margin-top: 48px;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.header-text button:hover {
    background: #015028;
    color: #fff;
    border-color: #015028;
}

.header-text .button1 {
    background-color: #1bad4b;
    color: #fff;
    border: 2px solid #1bad4b;
}

.header-text .button2 {
    background-color: #fff;
    color: #000;
    border: 2px solid black;
}
/* Header Text End */

/* Client */
.client {
    position: relative;
    margin-top: 177px;
    background-color: #1bad4b;
    color: white;
    padding: 50px 0px 10px;
    overflow: hidden;
}

.client .col .row1 {
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .center-line {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 2px;
    background-color: white;
    align-items: center;
}

.container-line {
    display: grid;
    padding: 20px;
    place-items: center;
}

.container-line .center-line {
    width: 42%;
    height: 1px;
    background-color: white;
}

.client .col .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client .col .row2 img {
    cursor: pointer;
    width: 90%;
    margin-bottom: 100px;
}

.custom-shape-divider-bottom-1690273045 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690273045 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1690273045 .shape-fill {
    fill: #f1f5f9;
}
/* Client End */

/* Experience */
#experience .container .col {
    display: flex;
    font-size: 32px;
    justify-content: center;
    text-align: center;
}

#experience .container .text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

#experience {
    padding: 20px 0;
    background-color: #f1f5f9;
}

#experience .experience-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
    text-align: center;
}

#experience .experience-list div {
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}

#experience .experience-list div i {
    font-size: 50px;
    margin-bottom: 20px;
}

#experience .experience-list div h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

#experience .experience-list div p {
    font-size: 20px;
}

#experience .experience-list div img {
    margin-bottom: 10px;
}

#experience .client-map {
    display: flex;
    width: 100%;
    height: 281px;
    background-color: #015028;
    margin: auto;
    border-radius: 55px;
    position: relative;
}

#experience .client-map .content {
    font-size: 32px;
    position: absolute;
    height: auto;
    width: inherit;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#experience .client-map:before {
    content: "";
    display: flex;
    padding-top: 25%;
}

#experience .client-map .maps {
    margin: auto;
    max-width: 100%;
}

#experience .client-map .maps img {
    margin-top: -25px;
}
/* Experience End */

/* Our Product */
#product {
    padding: 50px 0;
    align-items: center;
}

#product .sub-title {
    text-align: center;
    font-size: 32px;
}

#product .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

#product .product {
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 5px 0px grey;
    border-radius: 20px;
}

#product .product img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-bottom: 50px;
}

#product .grid .layer h2 {
    font-size: 32px;
    margin-bottom: 1%;
}

#product .layer h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 1%;
}

#product .layer p {
    font-size: 16px;
    margin-bottom: 4%;
}

#product .layer ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 2%;
}

#product .layer ul li i {
    margin-right: 2%;
}

#product .row {
    display: grid;
    padding: 20px;
    place-items: center;
}

#product article {
    margin: 20px;
}

#product .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* margin: 80px; */
    align-items: center;
    grid-gap: 20px;
}

#product .container-line {
    display: flex;
    padding: 20px;
    place-items: center;
}

#product .container-line .center-line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

#product button {
    margin-left: 20px;
    padding: 15px 25px;
    background-color: #1bad4b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

#product button:hover {
    background: #015028;
    color: #fff;
}

#product button i {
    margin-right: 20px;
}
/* Our Product End */

/* Video View */
#video-view {
    background-color: #015028;
    display: flex;
}

#video-view .text {
    color: #fff;
    margin-right: 35%;
}

#video-view .text p {
    font-size: 20px;
    margin-top: 2%;
}

#video-view video {
    width: 100%;
    border-radius: 50px;
}

#video-view .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
/* Video View End */

/* Blog */
#blog {
    padding: 50px 0;
    align-items: center;
}

#blog .sub-title {
    text-align: center;
    font-size: 32px;
}
.slide-container {
    max-width: auto;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    padding: 40px;
}
.card {
    border-radius: 20px;
    background-color: whitesmoke;
    width: 417px;
    height: 589px;
}
.slide-content {
    margin: 0 40px;
    /* background-color: red; */
    /* overflow: hidden; */
    /* border-radius: 20px; */
}
.image-content,
.card-content {
    padding: 2opx;
    flex-direction: column;
    align-items: center;
    padding: 10 40px;
}
.image-content {
    row-gap: 30px;
}
.card-image {
    position: relative;
    width: auto;
    height: auto;
    background: whitesmoke;
    /* padding: 10px; */
    border-radius: 20px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 20px; */
}
.pengalaman {
    font-size: 20px;
    /* font-family: Be Vietna; */
    margin-bottom: 10px;
    margin: 20px;
}
.descript {
    font-size: 16px;
    color: #707070;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.button {
    color: #079d48;
    /* font-family: Be Vietnam; */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 65%;
}
.swiper-pagination-bullet {
    background-color: #1bad4b;
    opacity: 1;
}
/* Blog En{d */

/* Footer */
footer .upper-footer {
    background: #079d48;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    position: relative;
}

footer .upper-footer .col-1 {
    text-align: left;
    color: #fff;
}

footer .upper-footer .col-1 .text-1 {
    margin-bottom: 30px;
}

footer .upper-footer .col-1 .text-3 {
    margin-top: 20px;
    font-size: 24px;
    display: flex;
}

footer .upper-footer .col-1 .text-3 i {
    margin-right: 20px;
}

footer .upper-footer .col-1 img {
    width: 172px;
    margin-bottom: 21px;
}

footer .upper-footer .col-1 p {
    text-align: left;
    margin-bottom: 2%;
}

footer .upper-footer .col-1 {
    margin-left: 200px;
}

footer .lower-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    font-weight: 300;
    position: relative;
}

footer .lower-footer .col-1 {
    margin-left: 200px;
}

footer .lower-footer .col-1 img {
    width: 298px;
}

footer .col-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (max-width: 1500px) {
    footer .lower-footer {
        flex-direction: column;
    }

    footer .lower-footer .col-1 {
        align-items: center;
        margin-left: 0;
        width: 100%;
        max-width: 298px;
    }

    footer .lower-footer .col-2 {
        margin-top: 60px;
        padding: 20px;
    }
}
/* Footer End */
